.mypy_cache/
.vscode/
**/__pycache__/
docker_history.txt
work_dirs/
model_checkpoints/
model_checkpoints_old/
tb_logs/
tb_logs*/
nsfp_split_configs/
lightning_logs/
kylevedder_offline_sceneflow_latest.sqsh
chamfer_investigation/merged_dicts.pkl
validation_results/
validation_results*/
**.pkl
**.png
job_dir/
.pl_auto_save.ckpt
cluster_tb_logs/
*_tb_logs/
**.zip